
<div class=" modal-overlay">
    <div class="modal modal-form">
        <h2 class="modal-form__h">
            Book a table
        </h2>
        <p class="modal-form__p">
            Leave your phone number and we will contact you
        </p>
        <form class="modal-form__form" action="#">
            <p>
                <label for="client-name">Name:</label>
                <input id="client-name" type="text">
            </p>
            <p>
                <label for="client-phone">Phone:</label>
                <input id="client-phone" type="number">
            </p>
            
        </form>
        <button class="modal-form__button">Send</button>
    </div>
    <!-- <div class="modal modal-video">
        
    </div>
    <div class="modal modal-alert">
        
    </div> -->
</div>

<button aria-label="close a modal window" class="modal-overlay__close">
    {% include 'parts/svgo/ico-close.svg' %}
</button>

<script src="./js/js.js"></script>
</body>
</html>