
<div class="modal-overlay">
    <div class=" modal modal-form">
        <h2 class="modal-form__h">
            Book a table
        </h2>
        <p class="modal-form__p">
            Leave your phone number and we will contact you
        </p>
        <form class="modal-form__form" action="#">
            <p>
                <label for="client-name">Name</label>
                <input id="client-name" type="text">
            </p>
            <p>
                <label for="client-phone">Phone</label>
                <input id="client-phone" type="text">
            </p>

            <button class="modal-form__button">Send</button>
        </form>
        
    </div>
    <div class="modal modal-video">
        <div class="modal-video__wrap">
            <iframe class="wrap__video" width="560" height="315" src="https://www.youtube.com/embed/jNQXAC9IVRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
    <div class="modal modal-alert">
        <div class="modal-alert__ico">
            {% include 'parts/svgo/ico-ok.svg' %}
            
        </div>
        
        <h2 class="modal-alert__h">
            Thank you!
        </h2>
        <p class="modal-alert__p">
            We will contact you as soon as possible
        </p>
        
    </div>
    <button aria-label="close a modal window" class="modal-overlay__close">
        {% include 'parts/svgo/ico-close.svg' %}
    </button>
</div>

<footer id="contacts" class="contacts wrapper">
    <div class="contacts__cont">
        <div class="contacts__nmn">
            <h2 class="contacts__h">
                Come to us!
            </h2>
            <p class="contacts__p contacts__p_1">8:00-23:00</p>
            <p class="contacts__p contacts__p_2">9532 W Linebaugh Ave, Tampa</p>
            <p class="contacts__p contacts__p_3">+1 253 867-54-13</p>
            <p class="contacts__p contacts__p_4">coffeeplanet@mail.com</p>
        
            <a href="#" class="contacts__net">
                {% include 'parts/svgo/ico-facebook.svg' %}
            </a>
            <a href="#" class="contacts__net">
                {% include 'parts/svgo/ico-instagram.svg' %}
            </a>
        </div>
        
        <div class="contacts__map">
        
            <a href="" class="contacts__map_a"></a>
            <iframe class="contacts__map_iframe" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5080.953109618886!2d30.51951532388605!3d50.450849941361376!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce505f2c2b6f%3A0x3c708bc302925049!2z0KLQpiBHbG9idXM!5e0!3m2!1sru!2sua!4v1628019716653!5m2!1sru!2sua" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                
            
        </div>
    </div>
   

    
</footer>


<script src="./js/js.js"></script>
</body>
</html>